body {
  font-family: "Arial", sans-serif;
}

.table {
  margin-top: 20px;
}

thead th {
  text-align: center;
}

tbody td {
  vertical-align: middle;
  text-align: center;
}

.form-inline {
  display: flex;
  justify-content: center;
}

.form-control {
  width: auto;
  margin-right: 10px;
}

.btn-primary {
  border-radius: 20px; /* Make buttons oval-shaped */
  background-color: #e4ebef; /* Blue background color */
  border-color: #144376; /* Blue border color */
  color: #0b0000; /* White text color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
  font-family:'Dancing Script', cursive;
}


