.topnavbar {
  background-color: #015c92;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  z-index: 1000;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 10px; ;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
  }
  
  .topnavbar a:hover, .dropdown:hover .dropbtn {
    background-color: #00436a;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2D82B5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #1c567b;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .topnavbar .left {
    display: flex;
    align-items: center;
  }

  .topnavbar .left .logo p {
    font-size: 30px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    margin-right: 10px;
    padding-left: 10px;
  }

  .topnavbar .left .logo p span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
  }

  .topnavbar .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    margin-left: 700px;
  }

  .topnavbar .right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .topnavbar .right ul li {
    margin-left: 10px;
  }
  
  .topnavbar .right ul li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
  }
  
  .topnavbar .right ul li a:hover {
    background-color: #00436a;
    border-radius: 8px;
  }

  .searchbar {
    margin-left: 12px;
    display: flex;
    align-items: center;
  }

  .searchbar input[type="text"]{
    border: 1px solid #666666;
    padding: 8px; 
    outline: none;
    transition: all 0.5s linear;
  }

.filter {
  padding-left: 5px;
}
