<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin HomePage</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='admin-home.css') }}"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="admin-header d-flex align-items-center mb-4">
        <div class="adminprofile-picture">
          <img
            src="{{ url_for('static', filename='images/' ~ admin.admin_img) }}"
            alt="Admin Profile"
            class="rounded-circle"
            style="width: 100px; height: 100px"
          />
        </div>
        <div class="adminhomepage-info flex-grow-1">
          <div class="row justify-content-center">
            <div class="col-md-3">
              <div class="form-group">
                <label for="name">Name:</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="form-control"
                  value="{{ admin.admin_name }}"
                  readonly
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="id">Email:</label>
                <input
                  type="text"
                  id="id"
                  name="id"
                  class="form-control"
                  value="{{ admin.admin_email }}"
                  readonly
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="phonenumber">Phone Number:</label>
                <input
                  type="text"
                  id="phonenumber"
                  name="phonenumber"
                  class="form-control"
                  value="{{ admin.admin_phone }}"
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-9">
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea
                  id="description"
                  name="description"
                  class="form-control"
                  rows="3"
                  readonly
                >
{{ admin.admin_descr }}</textarea
                >
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-9">
              <a href="{{ url_for('admin_view.admin_profile') }}">
                <button class="btn btn-primary mb-2">Edit profile</button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Total Members</h5>
              <input
                type="text"
                id="total-member"
                name="total-member"
                class="form-control"
                value="{{ total_members }}"
                readonly
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Total Events</h5>
              <input
                type="text"
                id="total-event"
                name="total-event"
                class="form-control"
                value="{{ total_events }}"
                readonly
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Total Tickets Sold</h5>
              <input
                type="text"
                id="total-ticket"
                name="total-ticket"
                class="form-control"
                value="{{ total_tickets_sold }}"
                readonly
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Total Sales</h5>
              <input
                type="text"
                id="total-sales"
                name="total-sales"
                class="form-control"
                value="{{ total_sales }}"
                readonly
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5 class="card-title">Event Related</h5>
              <a
                href="{{ url_for('admin_view.create_event') }}"
                class="btn btn-primary btn-block mb-2"
                >Create Events</a
              >
              <a
                href="{{ url_for('admin_view.manage_event') }}"
                class="btn btn-primary btn-block mb-2"
                >Manage Events</a
              >
              <a
                href="{{ url_for('admin_view.view_tickets') }}"
                class="btn btn-primary btn-block mb-2"
                >View Tickets</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5 class="card-title">Member Related</h5>
              <a
                href="{{ url_for('admin_view.manage_member') }}"
                class="btn btn-primary btn-block mb-2"
                >View Members</a
              >
              <a
                href="{{ url_for('admin_view.member_request') }}"
                class="btn btn-primary btn-block"
                >Manage Member Requests</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Logout Button -->
      <div class="fixed-bottom mr-3">
        <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
