<!-- template for user_view -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://www.mmu.edu.my/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="https://kit.fontawesome.com/8d1db3e4f7.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- navigation bar -->
    <div class="topnavbar">
        <div class="left">
            <div class="logo">
                <p><span>MMU</span>Event</p>
            </div>
        </div>
        <div class="right">
            <ul>
                <li><a href="{{ url_for('user_view.home') }}">Home</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Events <i class="fa fa-caret-down"></i></button>
                    <!-- display all the event categories -->
                    <div class="dropdown-content">
                        <a href="{{ url_for('user_view.event_category') }}">All</a>
                        {% for category in categories_nav %}
                            <a href="{{ url_for('user_view.event_category', category=category.category) }}">{{ category.category }}</a>
                        {% endfor %}
                    </div>
                </div>
                <li><a href="{{ url_for('user_view.organisers') }}">Organisers</a></li>
                <div class="dropdown">
                    <button class="dropbtn">
                        <i class='far fa-user-circle' style='font-size:24px'></i> <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('user_view.user_profile', user_id=user.user_id) }}">My Profile</a>
                        <a href="{{ url_for('user_view.ticket_history', user_id=user.user_id) }}">My Ticket History</a>
                        <a href="{{ url_for('user_view.user_membership', user_id=user.user_id) }}">My Membership</a>
                        <a href="{{ url_for('auth.logout' ) }}">Log Out</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer"><span>@2024 MMUEvent by TT8L-04 | All rights reserved</span></footer>
</body>
</html>