<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Homepage.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://kit.fontawesome.com/8d1db3e4f7.js" crossorigin="anonymous"></script>
    <link rel="icon" href="https://www.mmu.edu.my/favicon.ico" type="image/x-icon" />
    <title>MMU Event </title>

</head>
<body>
    <div class="topnavbar">
        <div class="left">
            <div class="logo">
                <p><span>MMU</span>Event</p>
            </div>
        </div>
        <div class="right">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Event <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('event_category') }}">All</a>
                        {% for category in categories_nav %}
                            <a href="{{ url_for('event_category', category=category.category) }}">{{ category.category }}</a>
                        {% endfor %}
                    </div>
                </div>
                <li><a href="{{ url_for('organizers_page') }}">Organisers</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Log Out</a></li>
            </ul>
        </div>
    </div>
    
    {% block content %}
    {% endblock %}
   
    <footer class="footer"><span> @2024 MMU Event. All rights reserved.</span></footer>
    
</body>
</html>