{% extends 'base.html' %}

{% block title %}{{ event.event_name }} | Event{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Homepage.css') }}">
<style>
    /* Button used to open the contact form */
    .purchase-ticket {
        background-color: #04AA6D;
        color: white;
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 10px;
        transition-duration: 0.4s;
        border-radius: 12px;
    }
    
    /* Add some hover effects to buttons */
    .purchase-ticket:hover {
        background-color: white;
        color: black;
        border: 2px solid #04AA6D;
    }

    /* Disable hover effect */
    .noHover{
        pointer-events: none;
    }

    .order-summary td, .order-summary th{
        padding: 10px;
        text-align: left;
    }
    .order-summary {
        width: 100%;
    }

    .popup-form {
        display: none;
        position: fixed;
        z-index: 5;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .popup-form-container {
        background-color: white;
        z-index: 5;
        margin: 15% auto;
        padding: 10px 40px 30px 40px;
        border: 1px solid #888;
        border-radius: 10px;
        width: 400px;
        animation: animatezoom 0.6s;
    }

    /* The Close Button (x) */
    .close {
        position: relative;
        left: 400px;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
    }
            
    @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
    }
</style>
{% endblock %}

{% block content %}
<div class="create-event-container">
    <div class="create-event-form">
        <h1 style="font-size: 40px; text-align: center;">{{ event.event_name }}</h1>
        
        <!-- Display poster -->
        {% if event.event_img != None: %}
        <div class="poster-container">
            <div class="poster-background-blur" style="background-image: url('{{ url_for('static', filename='images/' ~ event.event_img) }}');"></div>
            <img src="{{ url_for('static', filename='images/' ~ event.event_img) }}" alt="Event Poster" class="poster-foreground-image">
        </div>
        {% endif %}

        <!-- Display event details -->
        <div class="event-detail-container">
            <div class="event-section">
                <table class="event-display">
                    <tr>
                        <th>Organiser</th>
                        <td>{{ event.admin.admin_name }}</td>
                    </tr>
                    <tr>
                        <th>Location/Platform</th>
                        <td>{{ event.location_details }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>
                            {% if event.event_start == event.event_end %}
                                {{ event.event_start_formatted }}
                            {% else %}
                                {{ event.event_start_formatted }} - {{ event.event_end_formatted }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Start Time</th>
                        <td>{{ event.event_time_formatted }}</td>
                    </tr>
                    <tr>
                        <th>Duration</th>
                        <td>{{ event.event_duration }}</td>
                    </tr>
                </table>

                <!-- Display event description -->
                <h2>About this event</h2>
                <table>
                    <tr>
                        <td style="text-align: justify;">{{ event.event_descr.replace('\n', '<br>') | safe }}</td>
                    </tr>
                </table>
            </div>
            
            <!-- Display tickets -->
            <div class="ticket-section" style="margin-bottom: 80px;">
            {% if tickets_info %}
                <h2>Ticket</h2>
                {% for ticket, remaining_tickets in tickets_info %}
                <div class="card">
                    <div class="ticket-detail">
                        <h3>{{ ticket.ticket_type }}</h3>

                        {% if ticket.price == 0.00 and ticket.member_discount == 0.00 %}
                            <label for="price">Free</label>
                        {% else %}
                            <div class="prices">
                                <label for="normal-price">Normal Price: </label>
                                <label for="normal-price">RM {{ ticket.price }}</label>
                            </div>
                            <div class="prices">
                                <label for="member-price">Member Price: </label>
                                <label for="member-price">RM {{ ticket.member_discount }}</label>
                            </div>
                        {% endif %}
                        <p style="font-size: 12px;">
                            Sales Period: {{ ticket.start_sale.strftime('%B %d, %Y, %I:%M %p') }} - {{ ticket.end_sale.strftime('%B %d, %Y, %I:%M %p') }}
                        </p>
                    </div>

                    <!-- Display button style based on different condition -->
                    {% if user_has_ticket %}
                        <button class="purchase-ticket noHover" style="width: auto;background-color: #888;" disabled>Event Ticket Purchased</button>
                    {% elif remaining_tickets <= 0 %}
                        <button class="purchase-ticket noHover" style="width: auto;background-color: #888;" disabled>Sold Out</button>
                    {% elif current_datetime < ticket.start_sale %}
                        <button class="purchase-ticket noHover" style="width: auto;background-color: #888;" disabled>Sales Haven't Started</button>
                    {% elif current_datetime > ticket.end_sale %}
                            <button class="purchase-ticket noHover" style="width: auto;background-color: #888;" disabled>Sales Period Over</button>
                    {% else %}
                        <button class="purchase-ticket" 
                        onclick="openForm('{{ event.event_name }}', '{{ ticket.ticket_type }}', 
                        '{{ ticket.member_discount if user_member_status == 'Accept' else ticket.price }}')">
                            Buy A Ticket
                        </button>
                    {% endif %}
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="popupForm" class="popup-form">
    <div class="popup-form-container">
        <span onclick="closeForm()" class="close" title="Close Modal">&times;</span>
        <div style="position: relative;bottom: 25px">
            <!--Display order summary-->
            <h2>Order Summary</h2>
            <table class="order-summary">
                <tr>
                    <th>Event</th> 
                    <td><span id="current-event-name"></span></td>
                </tr>
                <tr>
                    <th style="border-bottom: 1px solid #dee2e6;">Ticket</th> 
                    <td style="border-bottom: 1px solid #dee2e6;"><span id="current-ticket-type"></span></td>
                </tr>
                <tr>
                    <th>TOTAL</th> 
                    <td><span id="current-ticket-price"></span></td>
                </tr>
            </table>
        </div>
        <button class="checkout-button" value="checkout">Proceed to Checkout</button>
    </div>
</div>
<script>
    // Open pop-up form
    function openForm(eventName, ticketType, ticketPrice) {
        event.preventDefault();
        document.getElementById("current-event-name").innerText = eventName;
        document.getElementById("current-ticket-type").innerText = ticketType;
        document.getElementById("current-ticket-price").innerText = "RM " + ticketPrice;
        document.getElementById("popupForm").style.display = "block";
    }

    // Close pop-up form
    function closeForm() {
        document.getElementById("popupForm").style.display = "none";
    }
</script>
{% endblock %}
