<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="topnavbar">
            <div class="left">
                <div class="logo">
                    <p><span>MMU</span>Event</p>
                </div>
                <div class="searchbar">
                    <input type="text" placeholder="Search">
                </div>
                <div class="filter">
                    <button class="filter"><i class="fa-solid fa-filter "></i></button>
                </div>
                
                <div class="right">
                    <ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Organisers</a></li>
                        <div class="dropdown">
                            <button class="dropbtn">Event <i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                                <a href="#">All</a>
                                <a href="#">Sports</a>
                                <a href="#">Academic</a>
                                <a href="#">Entertainment</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="create-event-container">
        <form class="create-event-form">
            <h1 style="font-size: 40px">Event Name</h1>

            <div class="poster-container">
                <div class="poster-background-blur" style="background-image: url('poster.jpg');"></div>
                <img src="poster.jpg" alt="Event Image" class="poster-foreground-image">
            </div>
            
            <div class="event-detail-container">
                <div class="event-section">
                    <table class="event-display">
                        <tr>
                            <th>Organiser</th>
                            <td id="display_organiser"></td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td id="display_location"></td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td id="display_event_date"></td>
                        </tr>
                        <tr>
                            <th>Start Time</th>
                            <td id="display_event_time"></td>
                        </tr>
                        <tr>
                            <th>Duration</th>
                            <td id="display_duration"></td>
                        </tr>
                    </table>
                    <h2>About this event</h2>
                    <label for="">dssfhewiufhodishvkl </label>
                    <!-- display event details -->

                </div>

                <br><br>
                <div class="ticket-section">
                    <h2>Tickets</h2>
                    
                    <div class="date-select">
                        <label for="event-date" class="select-label">Select Date:</label>
                        <select id="event-date">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <br>

                    <div class="ticket-container">
                        <div class="ticket-detail">
                            <h3>General Admission</h3>
                            <div class="prices">
                                <label for="normal-price">Normal Price: </label>
                                <label for="normal-price">RM</label>
                            </div>
                            <div class="prices">
                                <label for="member-price">Member Price: </label>
                                <label for="member-price">RM</label>
                            </div>
                        </div>
                        <div class="quantity-select">
                                <select id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <button class="purchase-ticket" id="purchaseTicketButton" onclick="purchaseTicket()">Purchase Ticket</button>
            </div>
            
        </form>
    </div>
</body>
</html>
