<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Homepage.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/8d1db3e4f7.js" crossorigin="anonymous"></script>
    <link rel="icon" href="https://www.mmu.edu.my/favicon.ico" type="image/x-icon" />
    <title>MMU Event </title>
    
</head>

<body style="background-color:rgb(248, 248, 230);">
  <div class="topnavbar">
      <div class="left">
        <div class="logo">
          <p><span>MMU</span>Event</p>
        </div>
      </div>
      <div class="right">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <div class="dropdown">
              <button class="dropbtn">Event <i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
                  <a href="{{ url_for('event_category') }}">All</a>
                  {% for category in categories_nav %}
                      <a href="{{ url_for('event_category', category=category.category) }}">{{ category.category }}</a>
                  {% endfor %}
                </div>
            </div>
            <li><a href="">Organisers</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Log Out</a></li>
        </ul>
    </div>
  </div>

<div class="slideshow-container">
  {% for event in events %}
  <div class="mySlides fade">
    <img src="{{ url_for('static', filename='images/' ~ event.event_img) }}" style="width:100%" class="event-cover">
  </div>
  {% endfor %}

  <br>
</div>

<script>
let slideIndex = 0; 
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  
  // Hide all slides
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  
  // Increment index and reset to 1 if at end of slides
  slideIndex++;
  if (slideIndex > slides.length) { slideIndex = 1 }    
  
  slides[slideIndex-1].style.display = "block";  
  
  setTimeout(showSlides, 3000); 
}
</script>

<div class="event-slider-container" id="eventSliderContainer">
  <h2>Upcoming Events</h2>
  <div class="event-slider" id="eventSlider">
    {% for event in events[:3] %} {# Limiting to first three events #}
    <div class="event-container">
      <div class="event-img parallax">
        <img src="{{ url_for('static', filename='images/' ~ (event.event_img or 'default_poster.png')) }}" alt="{{ event.event_name }}" class="event-cover">
      </div>
      <div class="event-details">
        <h3>{{ event.event_name }}</h3>
        <button class="view-details-btn" onclick="viewDetails({{ event.event_id }})">View Details</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="event-slider-container" id="newEventSliderContainer">
  <h2>New Events</h2>
  <div class="event-slider" id="newEventSlider">
    {% for event in events[3:6] %}
    <div class="event-container">
      <div class="event-img parallax">
        <img src="{{ url_for('static', filename='images/' ~ (event.event_img or 'default_poster.png')) }}" alt="{{ event.event_name }}" class="event-cover">
      </div>
      <div class="event-details">
        <h3>{{ event.event_name }}</h3>
        <button class="view-details-btn" onclick="viewDetails({{ event.event_id }})">View Details</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<footer class="footer"><span> @2024 MMU Event. All rights reserved.</span></footer>




</body>
</html>