{% extends 'base_admin.html' %}

{% block title %}Manage Event Draft{% endblock %}

{% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/manage_event.css') }}"
/>
{% endblock %}

{% block content %}
    <div class="container mt-5">
      <h1 class="mb-4">Manage Event Draft</h1>
      <!-- Table to display the list of event drafts -->
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Event Name</th>
            <th scope="col">Actions</th>
            <th scope="col">Last updated</th>
          </tr>
        </thead>
        <tbody>
          <!-- Loop through each event in the 'events' collection -->
          {% for event in events %}
          <tr>
            <td>{{ loop.index }}</td>
            <!-- Display the event name in a form (could be for inline editing) -->
            <td style="width: 60%;">
              <form
                method="POST"
                action="{{ url_for('admin_view.manage_event') }}"
                class="form-inline w-100"
              >
                <input
                  type="hidden"
                  name="event_id"
                  value="{{ event.event_id }}"
                />
                <div class="form-group w-100">
                  <p>{{ event.event_name }}</p>
                </div>
              </form>
            <td>
              <!-- Actions for each event (Edit and Delete buttons) -->
              <a
              href="{{ url_for('admin_view.edit_event', event_id=event.event_id) }}"
              class="btn btn-primary btn-block mb-2"
              style="width: 76px;"
              >Edit</a
              >
                <form
                  method="POST"
                  action="{{ url_for('admin_view.manage_event') }}"
                  class="d-inline"
                >
                  <input
                    type="hidden"
                    name="event_id"
                    value="{{ event.event_id }}"
                  />
                  <button
                    type="submit"
                    class="btn btn-danger"
                    style="width: 76px;"
                    name="action"
                    value="delete"
                  >
                    Delete
                  </button>
                </form>
              </div>
            </td>
            <td>{{ event.last_updated.strftime('%Y-%m-%d, %I:%M %p') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
