{% extends 'base_admin.html' %}

{% block title %}Member request{% endblock %}

{% block head %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='member_request.css') }}" />

{% endblock %}

{% block content %}
<div class="container mt-5">
  {% include 'flash_messages.html' %} <!-- Include flash messages for notifications -->
  <h1 class="mb-4">Member Request</h1> 
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>No.</th>
        <th>Student ID</th>
        <th>Status</th>
        <th>Actions</th>
        <th>Last updated</th>
      </tr>
    </thead>
    <tbody>
      {% for request in member_requests %}
      <tr>
        <td>{{ loop.index }}</td> <!-- Display row number -->
        <td>{{ request.user_id }}</td>
        <td>
          <form method="POST" class="form-inline"> <!-- Form to update membership status -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="membership_id" value="{{ request.membership_id }}">
            <select name="mstatus_id" class="form-control">
              {% for status in statuses %} <!-- Loop through available status options -->

              <option value="{{ status.mstatus_id }}" {% if status.mstatus_id == request.mstatus_id %}selected{% endif %}>
                {{ status.mstatus_name }}
              </option>
              {% endfor %}
            </select>
        </td>
        <td>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </td>
        <td>{{ request.last_updated.strftime('%Y-%m-%d, %I:%M %p') }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
