{% extends 'base.html' %}

{% block content %}
    <h2 class="profile-card-h">Organisers</h2>
    
    <form action="{{ url_for('organizers_page') }}" method="POST" class="search-form">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <div class="profile-card-container">
        {% if query %}
            {% for organizer in organizers %}
                {% if organizer.admin_name.lower() in query.lower() %}
                    <div class="profile-card">
                        <a href="{{ url_for('organizer_details', organizer_id=organizer.admin_id) }}">
                            <img src="{{ organizer.admin_img }}" alt="Organiser" style="width:100%">
                        </a>
                        <h2>{{ organizer.admin_name }}</h2>
                        <p class="profile-card-title">{{ organizer.admin_email }}</p>
                        <p>{{ organizer.admin_phone }}</p>
                        <p>
                        <a href="{{ url_for('organizer_details', organizer_id=organizer.admin_id) }}" class="view-details-btn">Request To Join</a>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for organizer in organizers %}
                <div class="profile-card">
                    <a href="{{ url_for('organizer_details', organizer_id=organizer.admin_id) }}">
                        <img src="{{ organizer.admin_img }}" alt="Organiser" style="width:100%">
                    </a>
                    <h2>{{ organizer.admin_name }}</h2>
                    <p class="profile-card-title">{{ organizer.admin_email }}</p>
                    <p>{{ organizer.admin_phone }}</p>
                    <p><button class="view-details-btn">Request to join</button></p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}