{% extends 'base_user.html' %}

{% block title %}My Ticket History{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <div class="account-container" style="margin: 40px auto; max-width: max-content;">
        <div class="account-card">
            <div class="account-card-header">
                <h1 class="account-card-title">My Ticket History</h1>
                <!-- Search by event name -->
                <form class="search-box" method="GET" action="{{ url_for('user_view.ticket_history', user_id=user.user_id) }}">
                    <input type="text" name="search" placeholder="Search events..." value="{{ search_query }}">
                    <button type="submit" style="width: 100px;">Search</button>
                </form>
            </div>
            <div class="account-card-body">
                <!-- Check if record existed -->
                {% if user_orders %}
                <!-- Display record if existed -->
                <table class="ticket-history-table">
                    <thead>
                        <tr>
                            <th class="invoice-column">Invoice</th>
                            <th>Event Name</th>
                            <th>Ticket Type</th>
                            <th>Total(RM)</th>
                            <th>Order Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order, ticket, event in user_orders %}
                        <tr>
                            <td class="invoice-column">{{ order.invoice }}</td>
                            <td><a href="{{ url_for('user_view.event_details', event_id=event.event_id) }}">{{ event.event_name }}</a></td>
                            <td>{{ ticket.ticket_type }}</td>
                            <td>{{ order.total_amount }}</td>
                            <td>{{ order.order_date.strftime('%Y-%m-%d') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Text displayed if no record -->
                {% else %}
                <p style="text-align: center;">No records found.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
