body {
  font-family: "Arial", sans-serif;
}

.admin-header {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}

.adminprofile-picture img {
  border: 2px solid #007bff;
}

.card {
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 18px;
  margin-bottom: 15px;
}

.btn-block {
  border-radius: 8px;
}
